.auth-container{
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;

  h1{

  }

  ul{
    list-style: none;
    margin: 0;
    padding: 0;

    li{
      a{
        display: block;
        color: black;
        text-align: center;
        padding: 8px;
        text-decoration: none;
      }
    }
  }
}
